.main-nav {
  @media @desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 940px;
    background-color: transparent;
  }
}

.main-nav__logo-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 21px 20px;

  @media @tablet {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  @media @desktop {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-nav__toggle {
  position: relative;
  display: block;
  align-self: flex-end;
  padding: 0;
  border: 0;
  width: 24px;
  height: 23px;
  color: @white;
  background-color: transparent;
  cursor: pointer;
  outline: 0;

  @media @desktop {
    display: none;
  }
}

.main-nav__toggle::before,
.main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -3px;
  width: 30px;
  height: 4px;
  background-color: @white;
}

.main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__toggle:hover::before,
.main-nav__toggle:hover::after {
  background-color: @lipstick;
  box-shadow: none;
}

.main-nav__toggle:active::before,
.main-nav__toggle:active::after {
  background-color: @lipstick;
  box-shadow: none;
  opacity: 0.3;
}
