.offer {
  padding-top: 41px;
  text-align: center;
}

.offer__header {
  margin-bottom: 32px;
}

.offer__header-slogan {
  margin: 0;
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: @dark-blue;
}

.offer__wrapper {
  padding-top: 81px;
  background-color: @light-grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}

.offer__list {
  .list-reset();
}

.offer__item {
  padding-bottom: 31px;
}

.offer__item-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: @line-height-basic;
}

.offer__item-description {
  margin: 0;
  font-size: @font-size-basic;
  font-weight: @font-weight-basic;
  line-height: @line-height-basic;
}
