.page-form__list {
  .list-reset();
}

.page-form__label {
  font-size: @font-size-basic;
  line-height: 30px;

  &--caption,
  &--tel,
  &--email {
    color: @lipstick;
    text-transform: uppercase;
  }

  &--checkbox,
  &--radio {
    font-size: 18px;
    color: @dark-blue;
  }
}

.page-form__text,
.page-form__tel,
.page-form__email {
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
}

.page-form__title {
  font-size: @font-size-basic;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @lipstick;
}

.page-form__textarea {
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
}

.page-form__action-submit {
  background-color: #2aab6d;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
}

.page-form__action-require {
  font-size: @font-size-basic;
  line-height: 30px;
  text-transform: uppercase;
  color: @dark-blue;
}

.page-form__action-require span {
  color: @lipstick;
}
