.page-footer {
  &--index {
    display: none;

    @media @tablet {
      display: block;
    }
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;

  @media @tablet {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  @media @desktop {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
}

.page-footer__copyright-title {
  padding-right: 15px;
  font-size: @font-size-basic;
  font-weight: @font-weight-basic;
  line-height: 18px;
  color: @dark-blue;

  @media @desktop {
    font-size: 18px;
  }
}

.page-footer__copyright-link {
  width: 27px;
  height: 34px;
}

.page-footer__copyright-icon {
  fill: @lipstick;

  &:hover {
    fill: @dark-blue;
  }

  &:active {
    opacity: 0.3;
  }
}
