.page-description {
  padding-top: 44px;
  padding-bottom: 50px;
  text-align: center;
}

.page-description__text {
  margin: 0;
  font-size: @font-size-basic;
  font-weight: @font-weight-basic;
  line-height: 30px;
  color: @dark-blue;
}
