.page-form {
  @media @tablet {
    display: flex;
    flex-direction: column;

    @media @desktop {
      flex-flow: row wrap;
    }
  }
}

.page-form__info-wrapper {
  margin-bottom: 42px;

  @media @tablet {
    order: 0;
    margin-bottom: 48px;
  }

  @media @desktop {
    width: 46%;
  }
}

.page-form__achievement-wrapper {
  margin-bottom: 41px;

  @media @tablet {
    order: 3;
    margin-bottom: 47px;
  }

  @media @desktop {
    width: 100%;
  }
}

.page-form__contacts-wrapper {
  margin-bottom: 42px;

  @media @tablet {
    order: 2;
    margin-bottom: 47px;
  }

  @media @desktop {
    width: 100%;
  }
}

.page-form__app-wrapper {
  margin-bottom: 41px;

  @media @tablet {
    order: 1;
    margin-bottom: 47px;
  }

  @media @desktop {
    width: 46%;
  }
}

.page-form__emotion-wrapper {
  margin-bottom: 48px;

  @media @tablet {
    order: 4;
    margin-bottom: 67px;
  }

  @media @desktop {
    width: 100%;
  }
}

.page-form__list {
  .list-reset();
}

.page-form__label {
  font-size: @font-size-basic;
  line-height: 30px;

  &--caption,
  &--tel,
  &--email {
    color: @lipstick;
    text-transform: uppercase;
  }

  &--checkbox,
  &--radio {
    font-size: 18px;
    color: @dark-blue;
  }
}

.page-form__text,
.page-form__tel,
.page-form__email {
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
}

.page-form__title {
  font-size: @font-size-basic;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @lipstick;

  &--contacts {
    display: none;

    @media @tablet {
      display: block;
    }
  }
}

.page-form__textarea {
  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;
}

.page-form__action {
  display: flex;
  flex-direction: column;

  @media @tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 5;
  }
}

.page-form__action-submit {
  background-color: #2aab6d;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
}

.page-form__action-require {
  font-size: @font-size-basic;
  line-height: 30px;
  text-transform: uppercase;
  color: @dark-blue;
}

.page-form__action-require span {
  color: @lipstick;
}
