.page-footer {
  &--index {
    display: none;

    @media @tablet {
      display: block;
    }
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;

  @media @tablet {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  @media @desktop {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.page-footer__copyright-title {
  font-size: @font-size-basic;
  font-weight: @font-weight-basic;
  line-height: 18px;
  color: @dark-blue;
}
