.photo, .photo-item {
  margin-bottom: 20px;
}

.photo-item__text {
  padding: 19px;
  background-color: @light-grey;
}

.photo-item__author {
  font-size: @font-size-basic;
  font-weight: bold;
  line-height: @line-height-basic;
  color: @dark-blue;
  text-decoration: none;
}

.photo-item__time {
  font-size: 12px;
  font-weight: 300;
  line-height: @line-height-basic;
  color: @dark-blue;
  text-transform: uppercase;
}

.photo-item__description {
  margin: 0 auto;
  font-size: @font-size-basic;
  font-weight: @font-weight-basic;
  line-height: @line-height-basic;
  color: @dark-blue;
}

.social-like__link {
  text-transform: uppercase;
}

.social-like__link, .social-like__count {
  font-size: 12px;
  font-weight: @font-weight-basic;
  line-height: @line-height-basic;
  color: @lipstick;
}
