.price {
  padding-top: 91px;
  padding-bottom: 47px;
  background-color: @light-grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  overflow: hidden;

  @media @tablet {
    padding-top: 86px;
    padding-bottom: 69px;
  }

  @media @desktop {
    padding-top: 150px;
    padding-bottom: 95px;
  }
}

.price__slider {
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 40px;

  @media @tablet {
    margin-bottom: 0;
  }
}

.price__slider-wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @media @tablet {
    position: static;
    left: auto;
    transform: none;
  }
}
