.slide {
  @media @tablet {
    display: flex;
    flex-direction: column;
  }
}

.slide__title {
  margin: 0;
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: @black;

  @media @tablet {
    padding-bottom: 0;
    order: 2;
    font-size: 20px;
  }

  @media @desktop {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
}

.slide__text {
  margin: 0;
  font-size: @font-size-basic;
  font-weight: @font-weight-basic;
  line-height: 30px;
  color: @dark-blue;

  @media @tablet {
    margin-bottom: 44px;
    order: 1;
    font-size: 18px;
  }
}

.slide__sub-text {
  display: none;

  @media @tablet {
    display: block;
    margin: 0;
    font-size: @font-size-basic;
    font-weight: @font-weight-basic;
    line-height: 30px;
    color: @dark-blue;
    order: 3;
  }

  @media @desktop {
    font-size: 18px;
  }
}
