.social-like__link {
  text-transform: uppercase;
}

.social-like__link,
.social-like__count {
  font-size: 12px;
  font-weight: @font-weight-basic;
  line-height: @line-height-basic;
  color: @lipstick;
}
