body {
  min-width: @mobile-width;
  margin: 0;
  font-size: @font-size-basic;
  font-weight: @font-weight-basic;
  line-height: @line-height-basic;
  font-family: @font-family-basic;
  color: @dark-blue;
  font-style: normal;
  background-color: @body-color;

  @media @tablet {
    min-width: @tablet-width;
  }

  @media @desktop {
    min-width: @desktop-width;
  }
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}
