@mobile-width: 320px;

@black: #000;
@dark-blue: #283645;
@white: #fff;
@light-grey: #f2f2f2;
@lipstick: #d22856;

@font-family-basic: "Open Sans", "Arial", sans-serif;
@font-color-basic: @dark-blue;
@font-size-basic: 14px;
@font-weight-basic: 400;
@line-height-basic: 24px;

@body-color: @white;
@page-header-color: @dark-blue;
